@model URLShortener.Models.ApplicationUser
<div class="container">
    <div>
        <p>
            <h2 class="post-title">
                @Model.UserName
            </h2>
        </p>
        <p>
            <h3 class="post-subtitle">
                @Model.Email
            </h3>
        </p>
        <p>
            <h3>-Favorites-</h3>
            <hr />
            @foreach (var fave in ViewBag.Faves)
            {
                <div class="row">
                    <span>
                        @fave.Title
                    </span> :
                    <span>
                        @Html.RouteLink("b/" + (string)fave.HashLink, new { hashLink = fave.HashLink })
                    </span>
                </div>
            }

        </p>
    </div>
    <p>
        @Html.RouteLink("BookMarks", new { UserName = Model.UserName }) |
        @Html.ActionLink("Home", "Index", "Home")
    </p>
</div>