@model URLShortener.Models.BookMark

<div class="container">
            @foreach (var item in ViewBag.BookMarks)
            {
                <div>
                    <p>
                        <h2 class="post-title">
                            @Html.RouteLink((string)item.Title, new { HashLink = item.HashLink})
                        </h2>
                    </p>
                    <p>
                        <h3 class="post-subtitle">
                            @item.Description;
                        </h3>
                    </p>
                    <p class="post-meta">BookMark visited @item.Clicks times</p> 
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </p>

            }
</div>