@model URLShortener.Models.BookMark

<div class="container">
            @foreach (var item in ViewBag.BookMarks)
            {
                <div>
                    <p>
                        <h2 class="post-title">
                            @Html.RouteLink((string)item.Title, new { HashLink = item.HashLink})
                        </h2>
                    </p>
                    <p>
                        <h3 class="post-subtitle">
                            @item.Description
                        </h3>
                    </p>
                    <p class="post-meta">BookMarked by @Html.RouteLink((string)item.UserName, new { username = item.UserName }) on @item.Created and visited @item.Clicks times</p> 
                </div>

            }
</div>